<div id="container">
    <div id="nav-bar" class="nav-bar">
        <div class="logo">
            <img src="assets/CHOICES ACADEMY LOGO.png" alt="">
        </div>
        <div class="nav-bar-container">
            <a class="nav-bar-link" routerLink="/home" routerLinkActive="active">Home</a>
            <a class="nav-bar-link" routerLink="/services" routerLinkActive="active">Services</a>
            <a class="nav-bar-link" routerLink="/contact" routerLinkActive="active">Contact</a>
        </div>
    </div>
</div>