.container {
    display: flex;
    flex-direction: column;
    min-height: 70vh; /* Ensure container takes full viewport height */
    justify-content: space-evenly; /* Center horizontally */
    align-items: center; /* Center vertically */
    padding-top: 10vh;
    padding-bottom: 5vh;
}

.contact-form-box {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    object-fit: contain;
    background-color: #333333;
    width: 50%; /* Adjust width as needed */
    max-width: 75vh; /* Adjust max width as needed */
    height: 50vh; /* Let height be determined by content */
    box-shadow: -42px -26px 0px #E8DCC3;
    padding: 4cap; /* Add padding inside the box */
    color: white; /* Text color inside the box */
}

.form-group {
    padding-bottom: 15px;
}

.name-inputs {
    display: flex; /* Enable Flexbox */
    gap: 10px; /* Adjust spacing between inputs */
}

.name-inputs .form-group { /* Target form-groups inside name-inputs */
    flex: 1; /* Make each input take equal width */
}

form button {
    position: sticky;
    margin-left: 18vw;
}

label {
    display: flex;
    padding-bottom: 5px;
    color: white;
    font-family: sans-serif; /* Use a clean, standard font */
    font-size: 14px;
}

input[type="text"],
input[type="email"],
input[type="text"],
textarea {
    width: 100%;
    padding: 10px; /* Increased padding */
    border: 1px solid #555; /* Darker gray border */
    border-radius: 5px; /* Slightly more rounded corners */
    box-sizing: border-box;
    background-color: #444; /* Lighter gray background */
    color: white;
    font-size: 16px; /* Slightly larger font size */
    font-family: Arial, Helvetica, sans-serif
}

textarea {
    position: relative;
    height: 20vh; /* Increased height */
    resize: none; /* Allow vertical resizing */
}

button {
    background-color: #F06425; /* Distinct orange color */
    color: white;
    padding: 15px 40px; /* Adjusted padding */
    border: none;
    border-radius: 5px; /* More rounded corners */
    cursor: pointer;
    font-size: 16px;
    font-family: sans-serif;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #e65c00; /* Darker orange on hover */
}

.error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}