#cs-footer-274 {
    width: 100%;
    background-color: #ffffff; /* Or your desired background color */
    padding-bottom: 25px;
}

.cs-container {
    max-width: 90rem; /* Adjust as needed */
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 3rem; /* Increased gap for better spacing */
    justify-content: space-between;
    align-items: flex-start; /* Align items to top */
}

.cs-logo-group {
    display: flex;
    flex-direction: column; /* Stack logo and social links vertically */
    width: auto;
}

.cs-logo {
    display: block; /* Make logo a block element */
    width: auto;
    max-width: 15rem; /* Adjust max width as needed */
    height: auto;
    margin-bottom: 1rem; /* Space between logo and social */
}

.cs-logo-img {
    max-width: 25%;
    height: auto;
}

.cs-social {
    display: flex;
    gap: 1rem;
}

.cs-social-link {
    width: 2.5rem; /* Slightly larger social icons */
    height: 2.5rem;
    background-color: #4e4b66;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
}

.cs-social-link:hover {
    background-color: var(--primary);
}

.cs-social-img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.cs-nav {
    list-style: none;
    padding: 0;
    margin: 0;
}

.cs-nav-li {
    margin-bottom: 0.75rem; /* Space between list items */
}

.cs-header {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: var(--bodyTextColor);
}

.cs-nav-link {
    font-size: 1rem;
    text-decoration: none;
    color: var(--bodyTextColor);
    transition: color 0.3s ease;
}

.cs-nav-link:hover {
    color: var(--primary);
}

/* Media Queries (for responsiveness) */
@media (max-width: 768px) { /* Example breakpoint */
    .cs-container {
        flex-direction: column; /* Stack items vertically on smaller screens */
        align-items: center; /* Center items horizontally */
    }

    .cs-logo-group{
        width: 100%;
        margin-bottom: 2rem;
        align-items: center;
    }

    .cs-social {
        justify-content: center;
    }

    .cs-nav {
        width: 100%; /* Make navs take full width */
        text-align: center; /* Center text in navs */
        margin-bottom: 2rem;
    }
}